*{
    box-sizing: border-box;
}
section{
    overflow-x: hidden;
}
#home{
    background-color: #e9f8ff ;
    position: relative;
    top: 109px;
}
#ville{
    background-color: rgba(205, 235, 175, 0.5);
    position: relative;
    top: 109px;
}
#caracteristiques{
    background-color: #e9f8ff ;
    position: relative;
    top: 109px;
}
/*POLICE*/
.righteous{
    font-family: 'Righteous', cursive;
}
/* // POLICE */

/* NAVBAR */

/* //NAVBAR */

 
/* CAROUSEL */
.carousel-inner{
    border-radius: 5px;
}
.carousel-inner img{
    border-radius: 12px;
}
.carousel-caption{
    background-color: rgba(213, 241, 253, 0.5);
    border-radius: 5px;
    color: #3f6543;
}
/* // CAROUSEL /*



/* CARD  */
.card{
    min-height: 175px;
}
.card h5{
    font-size: 2em;
}



.hr_perso{
    max-width: 50%;
    margin-top: 35px;
    margin-bottom: 20px;
}
.card_gauche{
    border-radius: 15px 0px 0px 15px;
}
.card_droite{
    border-radius: 0px 15px 15px 0px;
}
.title_offres{
    background-color: rgba(205, 235, 175, 0.3);
    overflow: hidden;
}
/* // CARD */



/* OVERFLOW */
.ovf{
    overflow: hidden;
}
/* // OVERFLOW */


/* JUMBOTRON GOOGLE MAP */
.google_map{
    border-radius: 12px;
}
/* // JUMMBOTRON GOOGLE MAP */

/* IMAGES */
#velo_caracteristiques{
    background-color: #00000017;
    border-radius: 76px;
    padding: 5px;
}
/* // IMAGES */





/* HOVER */
.liens_je_reserve{
    transition: 0.2s;
    font-weight: 500;
}
.liens_je_reserve:hover{
    font-size: 1.05em;
    font-weight: 800;
}
.liens_bornes{
    transition: 0.2s;
    font-weight: 500;
}
.liens_bornes:hover{
    font-size: 1.05em;
    font-weight: 900;
}
/* //HOVER */