*{
    box-sizing: border-box;
}
section{
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 109px;
}
#home{
    background-color: #e9f8ff ;
    padding-top: 50px;
    padding-bottom: 85px;
}
#ville{
    background-color: rgba(205, 235, 175, 0.5);
    padding-top: 70px;
    padding-bottom: 85px; 
}
#caracteristiques{
    background-color: #e9f8ff ;
    padding-top: 70px;
    padding-bottom: 130px; 
}

footer{


}
/*POLICE*/
.righteous{
    font-family: 'Righteous', cursive!important;
}
.roboto{
    font-family: 'Open Sans', sans-serif;
}
/* // POLICE */

/* NAVBAR */

/* //NAVBAR */

 
/* CAROUSEL */
.carousel-inner{
    border-radius: 5px;
}
.carousel-inner img{
    border-radius: 12px;
}
.h5_carousel{
    background-color: rgba(234, 255, 250, 0.46);
    border-radius: 25px;
    color: #3f6543;
    padding: 25px;
    display: block;
}
.h5_carousel_bleu{
    color: #477373!important;
}
/* // CAROUSEL /*
/* CARD  */
.card{
    min-height: 175px;
}
.card h5{
    font-size: 2em;
}
.card_1{
    height: auto;
}
.ebauche{
    transition: 0.4s;
}
.ebauche:hover{
    height: 110%;
    width: 110%;
    color: black;
}


.hr_perso{
    max-width: 50%;
    margin-top: 45px;
    margin-bottom: 30px;
}
/* .card_gauche{
    border-radius: 15px 0px 0px 15px;
}
.card_droite{
    border-radius: 0px 15px 15px 0px; */
}
.title_offres{
    background-color: rgba(205, 235, 175, 0.2);
    overflow: hidden;
}
/* // CARD */



/* OVERFLOW */
.ovf{
    overflow: hidden;
}
/* // OVERFLOW */


/* JUMBOTRON GOOGLE MAP */
.google_map{
    border-radius: 12px;
}
/* // JUMMBOTRON GOOGLE MAP */

/* IMAGES & SHADOW  */
#velo_caracteristiques{
    background-color: #fff;
    border-radius: 31px;
    padding: 5px;
    border: 3px solid #bebebe;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    transition: 0.3s;
}
.shadow_perso{
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
/* // IMAGES & SHADOW  */





/* HOVER */
.liens_je_reserve{
    transition: 0.2s;
    font-weight: 500;
}
.liens_je_reserve:hover{
    font-size: 1.05em;
    font-weight: 800;
}
.liens_bornes{
    transition: 0.2s;
    font-weight: 500;
}
.liens_bornes:hover{
    font-size: 1.05em;
    font-weight: 900;
}
#velo_caracteristiques:hover{
    width: 81%;
}
table:hover{
    
}
/* //HOVER */



